{% extends 'base.html' %}

{% block content %}

<br>

<div style="width: 980px; margin: 0 auto; overflow: hidden;">
    <form class="form">

        <label for="queryTerm" class="sr-only">OSS Project</label>
        <input type="name" name="queryTerm" id="queryTerm" class="form-control" placeholder="OSS Project" required autofocus>


        <!--<div style="float: right; width:20%;">
               <button id="btnEnter" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
        </div>-->
    </form>
</div>

{% endblock %}